<.flash_group flash={@flash} />
<head>
  <title>Redoc</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700" rel="stylesheet">
</head>
<div class="w-fit">
  <redoc spec-url="https://devtoolbelt.xyz/spec.yaml"></redoc>
  <script src="https://cdn.redoc.ly/redoc/latest/bundles/redoc.standalone.js"> </script>
</div>